[Unit]
Description=Start services for home server

[Service]
Type=oneshot
ExecStart=/opt/rbin/start-servers
ExecStop=/opt/rbin/stop-servers
Environment="PRODUCTION=true"

[Install]
WantedBy=multi-user.target
